body {
    font-family: 'freemono', 'courier new', monospace;
    background-color: #fffffe;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.post {
	  margin: 0 70px;
    max-width: 800px;
}

.post img{
  max-width: 90vw;
}

.post li img{
  max-width: 80vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

code {
	font-family: Courier, "Courier New", Monaco, Tahoma;
	background: #eee;
	color: #333;
	padding: 0px 2px;
    white-space: pre;
}

pre>code {
    display: block;
    overflow-x: auto;
}

h1 {
    margin-left: 70px;
}

footer {
    background: #ccc;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.post img.halfwidth{
  max-width: 47%;
  display: inline-block;
}

.left{
  float: left;
  margin-right: 1em;
}

.right{
  float: right;
  margin-left: 1em;
}

img#logo {
  margin: 30px 70px;
  display: block;
}

p:before {
  content: "";
  width: 15em;
  display: block;
  overflow: hidden;
}

blockquote{
  background: #eee;
  padding: 2px 30px;
}

kbd {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 2px 5px;
    box-shadow: 1px 2px 0 #ccc, 2px 1px 0 #ccc; /*, 2px 4px 0 #ddd, 4px 2px 0 #ddd;*/
}

@media all and (max-width:500px) {
    body{
        max-width: 480px;
    }
   .post {
       margin-left: 20px;
       margin-right: 20px;
   }
   #header {
       padding-left: 20px;
   }
   img#logo, h1, .halfwidth{
     margin-left: 0;
     max-width: 90%;
     max-width: calc(100vw - 40px);
   }
   
}
